<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Arquivo</title>
</head>
<body>
    <h1>Upload de Arquivo</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" id="fileInput">
        <button type="button" onclick="uploadFile()">Upload</button>
        <button type="button" onclick="clearUploads()">Limpar Uploads</button>
    </form>

    <h2>Executar Scripts</h2>
    <button type="button" onclick="runScript('teste_criação_tabela.py')">Criar Tabela</button>
    <button type="button" onclick="runScript('teste_update_tabela.py')">Atualizar dados</button>
    
    <h2>Executar Backup</h2>
    <input type="text" id="backupTableName" placeholder="Nome da Tabela para Backup">
    <button type="button" onclick="runBackupScript()">Executar Backup</button>

    <script>
        function uploadFile() {
            var formData = new FormData(document.getElementById('uploadForm'));
            fetch('/upload', {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.ok) {
                    alert('Arquivo enviado com sucesso!');
                } else {
                    alert('Falha ao enviar o arquivo.');
                }
            }).catch(error => {
                console.error('Erro:', error);
                alert('Erro ao enviar o arquivo.');
            });
        }

        function clearUploads() {
            fetch('/clear_uploads', {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    alert('Uploads limpos com sucesso!');
                } else {
                    alert('Falha ao limpar uploads.');
                }
            }).catch(error => {
                console.error('Erro:', error);
                alert('Erro ao limpar uploads.');
            });
        }

        function runScript(scriptName) {
            fetch(`/run_script/${scriptName}`, {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    alert(`Script ${scriptName} executado com sucesso!`);
                } else {
                    response.text().then(text => alert(`Erro ao executar o script: ${text}`));
                }
            }).catch(error => {
                console.error('Erro:', error);
                alert('Erro ao executar o script.');
            });
        }

        function runBackupScript() {
            var tableName = document.getElementById('backupTableName').value;
            if (tableName) {
                fetch(`/run_backup_script/${tableName}`, {
                    method: 'POST'
                }).then(response => {
                    if (response.ok) {
                        alert(`Backup da tabela ${tableName} executado com sucesso!`);
                    } else {
                        response.text().then(text => alert(`Erro ao executar o backup: ${text}`));
                    }
                }).catch(error => {
                    console.error('Erro:', error);
                    alert('Erro ao executar o backup.');
                });
            } else {
                alert('Por favor, insira o nome da tabela para o backup.');
            }
        }
    </script>
</body>
</html>
